.nvm/
Go-List/
Portfolio/
go/
interactive_comments/
.DS_Store
Library/
iCloud Drive (Archive)/.DS_Store
iCloud Drive (Archive)/Desktop/
iCloud Drive (Archive)/Downloads/
Movies/
Music/
Pictures/
Public/
work Ids/
.zsh_sessions/
Documents/
iCloud Drive (Archive) - 1/


