@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
--Bright-Blue: hsl(220, 98%, 61%);
--Check-Background: linear-gradient(to right, hsl(192, 100%, 67%) ,hsl(280, 87%, 65%));
--Very-Light-Gray: hsl(0, 0%, 98%);
--Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
--Light-Grayish-Blue: hsl(233, 11%, 84%);
--Dark-Grayish-Blue: hsl(236, 9%, 61%);
--Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);
--Very-Dark-Blue: hsl(235, 21%, 11%);
--Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
--Light-Grayish-Blue: hsl(234, 39%, 85%);
--Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
--Dark-Grayish-Blue: hsl(234, 11%, 52%);
--Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
--Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}
body{
    background-color: var(--Very-Dark-Blue);
}
header{
    background: url(../images/bg-desktop-dark.jpg);
    color:var(--Very-Light-Gray);
}
input{
    background-color: var(--Very-Dark-Desaturated-Blue);
    color:var(--Very-Light-Gray);
    border-radius: 5px;
}
.task-list{
background-color: var(--Very-Dark-Desaturated-Blue);
margin-bottom: 5px;
color:var(--Very-Light-Gray);
width: 500px;
height: fit-content;
display: flex;
align-items: center;
padding:10px;
border-radius: 5px;
}
.check-mark {
    appearance: none;
    width:20px;
    height:20px;
    border-radius: 50%;
    border:1px solid var(--Very-Light-Grayish-Blue);
    margin-right:10px;
}
.task-list > li{
    list-style: none;
}
.strike{
text-decoration: line-through;
}
.check-mark-checked{
background: url(../images//icon-check.svg),var(--Check-Background);
background-repeat: no-repeat;
background-position: center;
}
.footer{
    background-color: var(--Very-Dark-Desaturated-Blue);
    width: 500px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: var(--Very-Light-Grayish-Blue);
    border-radius: 5px;
}
.filters > button{
    margin-right: 10px;
}
