@tailwind base;
@tailwind components;
@tailwind utilities;

/*colors */
:root{
--Bright_Blue: hsl(220, 98%, 61%);
--Check_Background: linear-gradient(to right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
--Very_Light_Gray: hsl(0, 0%, 98%);
--Very_Light_Grayish_Blue: hsl(236, 33%, 92%);
--Light_Grayish_Blue: hsl(233, 11%, 84%);
--Dark_Grayish_Blue: hsl(236, 9%, 61%);
--Very_Dark_Grayish_Blue: hsl(235, 19%, 35%);
--Very_Dark_Blue: hsl(235, 21%, 11%);
--Very_Dark_Desaturated_Blue: hsl(235, 24%, 19%);
--Light_Grayish_Blue: hsl(234, 39%, 85%);
--Light_Grayish_Blue_hover: hsl(236, 33%, 92%);
--Dark_Grayish_Blue: hsl(234, 11%, 52%);
--Very_Dark_Grayish_Blue: hsl(233, 14%, 35%);
--Very_Dark_Grayish_Blue: hsl(237, 14%, 26%);
}
body{
    background-color: var(--Very_Dark_Blue);
}
h1{
    color: var(--Very_Light_Gray);
}
header{
    background-image: url('../../images/bg-desktop-dark.jpg');
}
.task-list{
    background-color: var(--Very_Dark_Desaturated_Blue);
    margin-bottom: 5px;
    padding:10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 500px;
    height: fit-content;
}
.task-list > li{
    list-style: none;
    margin-left: 20px;
    color: var(--Dark_Grayish_Blue);
}
.check-mark{
    appearance: none;
    width:20px;
    height: 20px;
    border-radius: 50%;
    border:1px solid var(--Light_Grayish_Blue);
}
.check-mark-checked {
    background: url(../../images/icon-check.svg),var(--Check_Background);
    background-repeat: no-repeat;
    background-position: center;
}
.strike{
    text-decoration: line-through;
}
.input-dark{
    background-color: var(--Very_Dark_Desaturated_Blue);
}
input::placeholder {
    color: var(--Light_Grayish_Blue);
  }
  .footer{
    background-color: var(--Very_Dark_Desaturated_Blue);
    padding:10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .footer > button,span,div{
    color: var(--Light_Grayish_Blue);
    font-size: small;
  }
  .filters > button{
    margin-right: 10px;
    cursor: pointer;
  }