header{
    background: url(../assets/bg-desktop-dark.jpg);
}
input{
    border: none;
    background-color: var(--Very-Dark-Desaturated-Blue);
    color:var(--Light-Grayish-Blue)
}
h1{
    color:var(--Very-Light-Gray);
    font-size: 51px;
    margin:0;
}