body{
    margin:0;
    padding:0;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
}
.title{
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:380px;
    color:white;
}
.header{
    display: flex;
    align-items: center;
    background-color: #1795ad;
    margin-bottom: 10px;
}
.search{
    border-radius: 5px;
    margin-right:10px;
    padding:2px;
    background-color: white;
}
.search>input[type="text"]{
    width:16vw;
    height:3vh;
    border:none;
    outline: none;
}
.search > button{
    border:none;
    background-color: transparent;
    cursor: pointer;
}
.input-container{
    width:65vw;
    margin: 0 auto;
}
#taskListHeading{
    text-align:center;
}
.input-container > input[type="text"]{
    width:50vw;
    height:5vh;
    border:none;
    background-blend-mode:normal;
    opacity: 0.7;
    border:1px solid black;
    border-radius:5px;
}
.input-container > button{
    width:10vw;
    height: 5vh;
    border:1px solid #1795ad;
    background-color: transparent;
    border-radius:5px;
    color:black;
    cursor: pointer;
}
.input-container > button:hover{
    background-color:#1795ad ;
    color: black;
    box-shadow: 3px 3px 15px gray;
}
.task{
    list-style-type: none;
    width: 34vw;
    height: 4vh;
    line-height: 2rem;
    color:black;
    text-align: center;
}
#tasksContainer{
    width:50vw;
    margin:0 auto;
}
.tickmark{
 appearance: none;
 width:20px;
 height:20px;
 border-radius:50%;
 border:2px solid black;
 line-height: 2rem;
 cursor: pointer;
 background-color: white;
}
.wholetask{
    display: flex;
    background-color: white;
    box-shadow: 2px 2px 1px #a1d7e2;
    margin:10px;
    align-items: center;
}
.subtaskContainer{
    margin-left:40px;
    display: none;
    flex-direction: column-reverse;
}
.subtaskContainer >form> input[type="text"]{
    border:1px solid grey;
    border-radius: 5px;
    width:20vw;
    height:3vh;
    margin:0 5px;
}
.subtaskContainer > form > button{
    border:none;
    background-color: #1795ad;
    color: white;
    border-radius: 5px;
}
#search{
    align-self: flex-end;
}
#calendarInput{
    margin-right: 30px;
    border:1px solid black;
    border-radius: 5px;
}
.taskListContainer{
    display: flex;
    justify-content: flex-end;
}
.taskListContainer ul{
    list-style: none;
    display: flex;
    width:12vw;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0 5px 500px;
    padding:10px;
    cursor: pointer;
}
.dotted{
    padding:15px;
    font-size: large;
    background-color: #1795ad;
    color: black;
    border-radius: 10px;
}
  