body{
    margin:0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.input-container > input[type="text"]{
    width:50vw;
    height:5vh;
    border:none;
    background-blend-mode:normal;
    opacity: 0.7;
    border:1px solid black;
    border-radius:5px;
}
.input-container > button{
    width:10vw;
    height: 5vh;
    border:none;
    background-color: black;
    border-radius:5px;
    color:white;
}
.task{
    list-style-type: none;
    width: 30vw;
    height: 4vh;
    line-height: 2rem;
    color:black;
    text-align: center;
}
.tickmark{
 appearance: none;
 width:20px;
 height:20px;
 border-radius:50%;
 border:2px solid black;
 line-height: 2rem;
 cursor: pointer;
 background-color: white;
}
.wholetask{
    display: flex;
    background-color: whitesmoke;
    box-shadow: 2px 2px 1px black;
    margin:10px;
    align-items: center;
}
.subtaskContainer{
    margin-left:40px;
    display: none;
    flex-direction: column-reverse;
}
.subtaskContainer >form> input[type="text"]{
    border:1px solid grey;
    border-radius: 5px;
    width:20vw;
    height:3vh;
    margin:0 5px;
}
.subtaskContainer > form > button{
    border:none;
    background-color: black;
    color: white;
    border-radius: 5px;
}